@import "{{ site.theme }}";

body {
  font-family: Garamond;
  font-size: 14.66px;
  margin: auto;
  text-align: center;
}

header {
  padding: 10mm;
}

.page {
  padding: 15mm;
  width: 105mm;
  height: auto;
  margin: auto;
  border: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
}

.page_number {

}

.page_story {
  text-align: justify;
  text-align-last: justify;
}

.poem {
  text-align: left;
  text-align-last: left;
  padding-left: 10mm;
  font-style: italic;
}

header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
    height: 47px;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}
