@import "{{ site.theme }}";

body {
  font-family: Garamond;
  font-size: 14.66px;
  margin: auto;
  text-align: center;
}

header {
  padding: 10mm;
}

.page {
  padding: 15mm;
  width: 105mm;
  height: auto;
  margin: auto;
  border: 1px solid #000000;
  box-sizing: border-box;
  text-align: center;
}

.page_number {

}

.page_story {
  text-align: justify;
  text-align-last: justify;
}

.poem {
  text-align: left;
  text-align-last: left;
  padding-left: 10mm;
  font-style: italic;
}

header ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
    height: 47px;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: #111;
}

.highlight {
  background-color: yellow;
}

.highlight .comment {
  visibility: hidden;
  width: 250px;
  background-color: LemonChiffon;
  text-align: left;
  text-align-last: left;
  padding: 5px;
  position: absolute;
  z-index: 1;
  font-style: normal;
}

.highlight:hover .comment {
  visibility: visible;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: dodgerblue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 50px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

mark {
  background-color: LightGreen;
}
